.App {
  text-align: center;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
}

.Lists {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
}

.Level {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  padding: 6em 1em 0;
  box-sizing: border-box;
}

.Level:nth-child(odd) {
  background: #1f363d;
}
.Level:nth-child(even) {
  background: #40798c;
}

.List {
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(100vh - 6.9em - 64px);
  overflow-y: auto;
}

.Item {
  transition: background-color 0.2s;
  border-radius: 8px;
  padding: 0.3em 0.5em;
  text-transform: capitalize;
  max-width: 300px;
  width: 100%;
  margin: 4px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.Item:hover {
  background: #fff2;
}

.Item.selected {
  background: #fff3;
}

.more::after {
  content: "";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin: 2px 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.Description {
  font-size: 0.5em;
  opacity: 0.8;
  text-transform: none;
}

.Tag {
  background: #0008;
  opacity: 0.8;
  padding: 2px 8px;
  margin: 4px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
}

.Tag::before {
  content: "#";
}

.InputContainer {
  position: relative;
  margin: 16px auto;
  max-width: 332px;
}

.InputContainer > .Reset {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  appearance: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  display: block;
}

.InputContainer > .Reset.hidden {
  display: none;
}

input {
  border: none;
  background: #fff2;
  color: #fff;
  padding: 0.3em 0.5em;
  appearance: none;
  border-radius: 8px;
  font-size: 32px;
  padding-right: calc(42px + 0.5em);
  width: calc(300px - 42px);
}

input::placeholder {
  color: #fffd;
}

h1 {
  position: fixed;
  text-align: left;
  margin-left: 1.4em;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff4;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #fff2;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff6;
}
